body {
    font-family: 'Lato', sans-serif;
}



.fas {
    align-content: center;
    margin-top: 10px;
}


/********************Service Cards****************/

.card-title {
    color: crimson;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;

}

.card {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: burlywood;
}

.card-body {
    height: 375px;
    font-size: 15px;

}

/********************end Service Cards****************/

/********************Jumbotrons****************/

#services-container {
    background-color: cornflowerblue;
    padding-top: 15px;
}

#dmIntro {
    background-color: white;
}

/************Header jumbo******/

.jumbotron {
    /*    background: url(/assets/images/Exigent-DM-Cover.png);*/
    background-size: cover;
    /*    height: 400px;*/
    /*    padding-top: 15px;*/
    /*    background-image: url('./assets/images/Exigent-DM-Cover.png');*/
}

/********************end Jumbotrons****************/

.form-row {
    text-align: center;
}

#platforms {
    text-align: center;
}
