.body {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;

}

.fas {
    align-content: center;
    margin-top: 10px;
}


/*
colors 
white #fbf9fb
grey #e3e1e3
dark grey #666564
blk #343239
red #f03d33
*/

img: #wjhs-photo {
    height: 90px;

}

/********************Service Cards****************/

.card-title {
    color: black;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;

}

.card {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f03d33;
}

.card-body {
    height: 375px;
    font-size: 15px;
    color: white;

}

/********************end Service Cards****************/

/********************Jumbotrons****************/

#services-container {
    background-color: #666564;
    padding-top: 15px;
}

#dmIntro {
    background-color: #e3e1e3;
}

/************Header jumbo******/

.img-size {

    background-size: cover;
    height: auto;
    width: auto;
    align-content: center;
    background-image: url(/assets/images/gb.jpg);
}

/********************end Jumbotrons****************/

.form-row {
    text-align: center;
}

#platforms {
    text-align: center;
}

/*   ******************footer***************************************/

.search-text {
    margin-top: 50px;
    background-color: #272d33;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-text .input-search {
    height: 45px;
    width: 40%;
    padding-left: 20px;
    color: #333;
}

.search-text .btn-search {
    background: #da3e44;

    border: none;
    color: #FFF;
    height: 45px;
    width: 80px;
}

.search-text h4 {
    color: #FFF;
    font-weight: 700;
}

footer {
    background-color: #33383c;
    padding: 30px 0px;
}

.logo {
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
}

.address span,
.menu span {
    color: #FFF;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.address li a,
.menu li a {
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 14px;
}

.address li,
.menu li {
    margin: 20px 0px;
    list-style: none;
}

.address li a:hover,
.menu li a:hover {
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa {
    color: #da3e44;
    margin-right: 10px;
    font-size: 18px;
}

/*   ******************footer***************************************/

/*   ******************contact form***************************************/

/*
body {
    padding: 20px 0;
    font-family: Lato, sans-serif;
}
*/

/*   ******************contact form***************************************/
