body {
    background-image: url(/assets/images/wall-2933017_1920.jpg);
    background-color: darkturquoise;
}

.card-body {
    height: 375px;
    font-size: 15px;

}

.fas {
    align-content: center;
    margin-top: 10px;
}

.card-title {
    color: crimson;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;

}

.card {
    padding-top: 5px;
    padding-bottom: 5px;
}

.jumbotron {
    background-color: brown;
    padding-top: 15px;
    /*    margin-top: 20px;*/
}

.form-row {
    text-align: center;
}

#platforms {
    text-align: center;
}

#services-container {
    background-color: cornflowerblue;
}
